APP_ENV=production
APP_KEY=change-me
DB_CONNECTION=mysql
DB_DATABASE=pharmacare_db
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=pharmacare_user
DB_PASSWORD=change-this-password
FRONTEND_ORIGIN=https://your-frontend-domain.com
GOOGLE_WEB_CLIENT_ID=285680876693-fmqubravnj1d5hoh5aseovjetem74tlm.apps.googleusercontent.com
GOOGLE_ANDROID_CLIENT_ID=
